.main-container {
  margin: 30px auto 0 auto;
  width: 90%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-container > a {
  color: blueviolet;
  align-self: flex-end;
}

h1 {
  margin: 15px;
  color: darksalmon;
  font-weight: bold;
}

.text-container {
  padding: 30px 15px;
  color: #5d6a14;
  line-height: 1.8;
  font-weight: 300;
}

.foto-container {
  align-self: center;
  width: 70vw;
  padding: 30px 15px;
}

.btn-and-date {
  padding-top: 15px;
  justify-content: space-evenly;
  width: 100%;
}

.btn {
  font-size: 18px;
  font-weight: 600;
  color: #ffe65e;
  text-transform: uppercase;
  padding: 10px 32px;
  margin-bottom: 30px;
  border-radius: 16px;
  background-color: #696f82;
  border-color: #6a7188;
  transition: 0.5;
  float: right;
}

.btn:hover {
  box-shadow: 0 2px 5px #deefff;
  background-color: #deefff;
  border-color: #c4dbf0;
  color: #696f82;
}
