.list-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.filter-container {
  margin: 0 5%;
  display: flex;
  justify-content: flex-end;
}

.pagination-container {
  width: 90%;
  margin: auto;
  display: flex;
}

.pagination-container div:first-child {
  margin-left: 0;
}

.pagination-container div:last-child {
  margin-right: 0;
}

.pagination-container div {
  margin: 10px;
  padding: 10px 0;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  border: 1px solid #5d6a14;
}

.page-no {
  justify-content: center;
  align-self: center;
}

/* Tablet Devices */
@media screen and (max-width: 991px) {
}

/* Mobile Devices */
@media screen and (max-width: 767px) {
}
