.list-main {
  margin: 50px 0px 0px;
  padding: 10px 10px 0px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #5d6a14;
}

.tick-box{
  border: 1px solid #5d6a14;
  width: 30px;
  height: 30px;

}

.link {
  color: blueviolet;
  font-size: 16px;
  padding: 20px;
}

.h3 {
  color: darksalmon;
  font-weight: bold;
}

.h4 {
  color: #5d6a14;
  font-weight: bold;
  font-weight: 300;
}
