*{
  margin: 5px;
  padding: 0;
  
  
}
 

body {
  font-size: 16pt;
  min-width: 500px;
  width: 100vw;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
